$macma_orange: #F26521;
$white: #FFFFFF;
$lavender: #E4EDFF;
$light_green: #B5EFCC;
$light_green2: #BEFFC1;
$light_yellow: #FFF1BE;
$violet: #C1B4DE;
$light_orange: #FBA379;
$light_orange2: #FFD3BE;
$light_orange_opacity: #fba279bb;
$text_color: #374957;
$small_text_color: #4A6375;
$blog_grey: #9AA8B3;
$blog_grey_opacity: #374957b4;
$about_us_pink: #DBACCB;
$our_brands_grey: #ACBFDB;
$grey: #E6E6E6;
$grey2: #747474;
$grey3: #C0C5C8;
$grey4: #A6A6A6;
$light_grey: #F4F4F4;
$light_grey2: #EEEEEE;
$open_menu_background: #000000B2;
$menu_arrows_color: #C4BCBC;
$transparent: rgba(255,255,255,0);
$menu_hover_color: #FFD5AE;
$branding_hero_banner_pink: #e7b8bd;
$branding_hero_banner_yellow: #d8cc84;
$label_green_color: #ACDBD5;
$newsletter_pink: #fadedb;