$macma_orange: #F26521;
$white: #FFFFFF;
$lavender: #E4EDFF;
$light_green: #B5EFCC;
$violet: #C1B4DE;
$light_orange: #FBA379;
$light_orange_opacity: #fba279bb;
$text_color: #374957;
$small_text_color: #4A6375;
$blog_grey: #9AA8B3;
$blog_grey_opacity: #374957b4;
$about_us_pink: #DBACCB;
$our_brands_grey: #ACBFDB;
$grey: #E6E6E6;
$grey2: #747474;
$light_grey: #F4F4F4;