@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;600;700;800;900&display=swap");
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

@media (min-width: 1640px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl,
  .container-xxl {
    max-width: 1576px;
  }
}
@media (min-width: 576px) {
  .container,
  .container-sm {
    max-width: 90vw;
  }
}
@media (min-width: 1640px) {
  .container,
  .container-sm {
    max-width: 1576px;
  }
}
* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  font-family: "Roboto", sans-serif;
  accent-color: #F26521;
}
body #main-wrapper {
  position: relative;
}
body #main-wrapper.opened-menu::after {
  position: absolute;
  content: "";
  top: 0;
  left: calc((100vw - 1576px) / 2 * -1);
  background-color: rgba(0, 0, 0, 0.6980392157);
  width: 200vw;
  height: 100vh;
  z-index: 9;
}

@media (max-width: 1576px) {
  body #main-wrapper.opened-menu::after {
    left: -50vw;
  }
}
@media (max-width: 991px) {
  body #main-wrapper.opened-menu::after {
    display: none;
  }
}
#topbar {
  background-color: #F26521;
  height: 50px;
}
#topbar .container {
  height: 50px;
}
#topbar .container div a {
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 90%;
  color: #FFFFFF;
  text-decoration: none;
}
#topbar .container div a:hover {
  filter: brightness(0.9);
}
#topbar .container div span {
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 90%;
  color: #374957;
  width: 26px;
  height: 26px;
}

@media (max-width: 991px) {
  .topbar-links {
    display: none !important;
  }
}
nav #nav-searchbar {
  position: relative;
}
nav #nav-searchbar input {
  all: unset;
  width: 568px;
  height: 60px;
  background-color: #F4F4F4;
  padding: 0 38px;
}
nav #nav-searchbar input::-moz-placeholder {
  font-size: 16px;
  font-weight: 300;
  line-height: 90%;
  color: #747474;
}
nav #nav-searchbar input::placeholder {
  font-size: 16px;
  font-weight: 300;
  line-height: 90%;
  color: #747474;
}
nav #nav-searchbar button {
  all: unset;
  position: absolute;
  top: calc(50% - 12.5px);
  right: 30px;
  font-size: 0;
  content: "";
  display: block;
  background: url("./../assets/icons/common/header/magnifier.svg");
  width: 25px;
  height: 25px;
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
}
nav .nav-account-cart a span {
  font-size: 18px;
  font-weight: 400;
  line-height: 103%;
  color: #374957;
  width: 62px;
}
nav .nav-account-cart a:hover span {
  color: #F26521;
}
nav .dropend,
nav .dropdown {
  position: static;
}

@media (max-width: 1576px) {
  nav #nav-searchbar input {
    width: 300px;
  }
}
@media (min-width: 992px) {
  nav {
    height: 160px;
  }
  nav .navbar-brand-mobile {
    display: none;
  }
  nav .navbar-first-row {
    height: 100px;
  }
  nav .navbar-top {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    height: 100px;
  }
  nav .navbar-bottom {
    position: absolute;
    top: 100px;
    left: 0;
    display: flex;
    height: 60px;
  }
}
@media (max-width: 991px) {
  nav {
    height: auto;
  }
  nav #nav-searchbar {
    margin: 16px 0 0 0;
    width: 100%;
  }
  nav #nav-searchbar input {
    width: 100%;
    height: 48px;
    padding: 0 16px;
  }
  nav .navbar-brand-desktop {
    display: none;
  }
  nav .nav-account-cart {
    padding: 16px;
  }
  nav .navbar-bottom {
    align-items: flex-start !important;
  }
}
footer {
  background-color: #F4F4F4;
}
footer .footer__container__top {
  padding: 64px 0 78px 0;
  width: 1576px;
  margin: 0 auto;
}
footer .footer__container__top .first-column .footer-logo {
  margin: 0 0 25px 0;
}
footer .footer__container__top .first-column .footer-text {
  margin: 0 0 23px 0;
}
footer .footer__container__top .first-column .footer-text.newsletter-title {
  margin: 0 0 16px 0;
}
footer .footer__container__top .first-column .footer-text strong {
  font-size: 16px;
  font-weight: 600;
  line-height: 160%;
  color: #4A6375;
  margin: 0;
}
footer .footer__container__top .first-column .footer-text p {
  font-size: 16px;
  font-weight: 400;
  line-height: 160%;
  color: #4A6375;
  margin: 0;
}
footer .footer__container__top .first-column .newsletter-form input {
  all: unset;
  width: 252px;
  height: 50px;
  background-color: #FFFFFF;
  padding: 0 20px;
}
footer .footer__container__top .first-column .newsletter-form input::-moz-placeholder {
  font-size: 16px;
  font-weight: 400;
  line-height: 160%;
  color: #747474;
}
footer .footer__container__top .first-column .newsletter-form input::placeholder {
  font-size: 16px;
  font-weight: 400;
  line-height: 160%;
  color: #747474;
}
footer .footer__container__top .first-column .newsletter-form button {
  all: unset;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 88px;
  min-width: 80px;
  height: 50px;
  font-size: 18px;
  font-weight: 400;
  line-height: 160%;
  color: #FFFFFF;
  background-color: #374957;
  cursor: pointer;
}
footer .footer__container__top .second-column h2 {
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
  text-transform: uppercase;
  color: #374957;
  margin: 0 0 33px 0;
}
footer .footer__container__top .second-column a {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 177.023%;
  color: #374957;
  margin: 0 0 9px 0;
  text-decoration: none;
  text-transform: uppercase;
}
footer .footer__container__top .second-column a:hover {
  color: #F26521;
}
footer .footer__container__top .third-column h2 {
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
  text-transform: uppercase;
  color: #374957;
  margin: 0 0 33px 0;
}
footer .footer__container__top .third-column a {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
  color: #374957;
  margin: 0 0 21px 0;
  text-decoration: none;
}
footer .footer__container__top .third-column a img {
  margin-right: 15px;
}
footer .footer__container__top .third-column a:hover {
  color: #F26521;
}
footer .footer__container__top .fourth-column .footer-contacts-box h2 {
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
  text-transform: uppercase;
  color: #374957;
  margin: 0 0 33px 0;
}
footer .footer__container__top .fourth-column .footer-contacts-box .footer-contact-box {
  margin: 0 0 17px 0;
}
footer .footer__container__top .fourth-column .footer-contacts-box .footer-contact-box strong {
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 160%;
  color: #4A6375;
}
footer .footer__container__top .fourth-column .footer-contacts-box .footer-contact-box p {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
  color: #4A6375;
  margin: 0;
}
footer .footer__container__top .fourth-column .footer-contacts-box .footer-contact-box p a {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
  color: #4A6375;
  text-decoration: none;
}
footer .footer__container__top .fourth-column .footer-contacts-box .footer-contact-box p a:hover {
  color: #F26521;
}
footer .footer__container__bottom {
  position: relative;
  height: 42px;
  width: 1576px;
  margin: 0 auto;
  background-color: #374957;
  z-index: 1;
}
footer .footer__container__bottom::before {
  position: absolute;
  display: block;
  content: "";
  background-color: #374957;
  left: calc((100vw - 1576px) / 2 * -1);
  top: 0;
  width: 100vw;
  height: 100%;
  z-index: 0;
}
footer .footer__container__bottom p {
  position: relative;
  font-size: 16px;
  font-weight: 400;
  line-height: 160%;
  color: #FFFFFF;
  margin: 0;
  z-index: 1;
}

@media (max-width: 1640px) {
  footer .footer__container__top, footer .footer__container__bottom {
    width: 100%;
  }
  footer .footer__container__bottom::before {
    left: -400px;
    width: 400vw;
  }
}
@media (max-width: 991px) {
  footer .footer__container__top {
    padding: 40px 0 24px 0;
    flex-wrap: wrap;
    justify-content: center !important;
    margin-left: 24px;
  }
  footer .footer__container__top .col-3 {
    width: calc(50% - 24px);
    align-items: flex-start !important;
  }
  footer .footer__container__top .col-3:nth-of-type(3), footer .footer__container__top .col-3:nth-of-type(4) {
    margin-top: 24px;
  }
  footer .footer__container__top .col-3:nth-of-type(2), footer .footer__container__top .col-3:nth-of-type(4) {
    margin-left: 24px;
  }
}
@media (max-width: 639px) {
  footer .footer__container__top {
    padding: 40px 0 24px 0;
    flex-wrap: wrap;
    justify-content: center !important;
    margin-left: 0;
  }
  footer .footer__container__top .col-3 {
    width: calc(50% - 24px);
    align-items: flex-start !important;
  }
  footer .footer__container__top .col-3:nth-of-type(3), footer .footer__container__top .col-3:nth-of-type(4) {
    margin-top: 24px;
  }
  footer .footer__container__top .col-3:nth-of-type(2), footer .footer__container__top .col-3:nth-of-type(4) {
    margin-left: 24px;
  }
  footer .footer__container__top .first-column .footer-logo img {
    width: 160px;
    height: auto;
  }
  footer .footer__container__top .first-column .footer-text {
    margin: 0 0 23px 0;
  }
  footer .footer__container__top .first-column .footer-text.newsletter-title {
    width: 80vw;
  }
  footer .footer__container__top .first-column .footer-text strong {
    font-size: 14px;
    line-height: 140%;
  }
  footer .footer__container__top .first-column .footer-text p {
    font-size: 12px;
    line-height: 120%;
  }
  footer .footer__container__top .first-column .newsletter-form input {
    width: 140px;
    height: 40px;
    padding: 0 16px;
  }
  footer .footer__container__top .first-column .newsletter-form input::-moz-placeholder {
    font-size: 12px;
    line-height: 140%;
  }
  footer .footer__container__top .first-column .newsletter-form input::placeholder {
    font-size: 12px;
    line-height: 140%;
  }
  footer .footer__container__top .first-column .newsletter-form button {
    width: 80px;
    height: 40px;
    font-size: 14px;
    line-height: 140%;
  }
  footer .footer__container__top .second-column h2 {
    font-size: 20px;
    margin: 0 0 24px 0;
  }
  footer .footer__container__top .second-column a {
    font-size: 14px;
    line-height: 140%;
  }
  footer .footer__container__top .third-column h2 {
    font-size: 20px;
    margin: 0 0 24px 0;
  }
  footer .footer__container__top .third-column a {
    font-size: 11px;
    line-height: 120%;
  }
  footer .footer__container__top .fourth-column .footer-contacts-box h2 {
    font-size: 20px;
    margin: 0 0 24px 0;
  }
  footer .footer__container__top .fourth-column .footer-contacts-box .footer-contact-box {
    margin: 0 0 15px 0;
  }
  footer .footer__container__top .fourth-column .footer-contacts-box .footer-contact-box strong {
    font-size: 12px;
    line-height: 120%;
  }
  footer .footer__container__top .fourth-column .footer-contacts-box .footer-contact-box p {
    font-size: 12px;
    line-height: 120%;
  }
  footer .footer__container__top .fourth-column .footer-contacts-box .footer-contact-box p a {
    font-size: 12px;
    line-height: 120%;
  }
  footer .footer__container__bottom p {
    font-size: 14px;
    line-height: 140%;
  }
}
#swiper {
  width: 100vw;
  max-width: unset;
  padding: 0;
}
#swiper .swiper {
  width: 100%;
  height: 507px;
  z-index: 0;
}
#swiper .swiper.mobile {
  display: none;
}
#swiper .swiper .swiper-button-next {
  position: absolute;
  width: 45px;
  height: 45px;
  background-image: url("./../assets/icons/main_page/hero_swiper/arrow-right.svg");
  background-size: contain;
  display: block;
  background-repeat: no-repeat;
  background-position: center center;
  top: 50%;
  right: 40px;
  z-index: 1;
}
#swiper .swiper .swiper-button-next::after {
  display: none;
}
#swiper .swiper .swiper-button-prev {
  position: absolute;
  width: 45px;
  height: 45px;
  background-image: url("./../assets/icons/main_page/hero_swiper/arrow-left.svg");
  background-size: contain;
  display: block;
  background-repeat: no-repeat;
  background-position: center center;
  top: 50%;
  left: 40px;
  z-index: 1;
}
#swiper .swiper .swiper-button-prev::after {
  display: none;
}
#swiper .swiper .swiper-slide img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
#swiper .swiper .swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
#swiper .swiper .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
  width: 17px;
  height: 17px;
  background-color: #FFFFFF;
  border: 2px solid #FFFFFF;
  opacity: 1;
  margin: 0 12px;
}
#swiper .swiper .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet.swiper-pagination-bullet-active {
  border: 2px solid #FFFFFF;
  background-color: #F26521;
}

.promo_products_swiper,
.our_products_swiper,
.news_swiper,
.blog_swiper,
.our_brands_swiper {
  width: 100%;
  z-index: 0;
}
.promo_products_swiper .swiper-button-next,
.our_products_swiper .swiper-button-next,
.news_swiper .swiper-button-next,
.blog_swiper .swiper-button-next,
.our_brands_swiper .swiper-button-next {
  position: absolute;
  width: 45px;
  height: 45px;
  background-image: url("./../assets/icons/main_page/hero_swiper/arrow-right.svg");
  background-size: contain;
  display: block;
  background-repeat: no-repeat;
  background-position: center center;
  top: 50%;
  right: -56px;
  z-index: 1;
}
.promo_products_swiper .swiper-button-next::after,
.our_products_swiper .swiper-button-next::after,
.news_swiper .swiper-button-next::after,
.blog_swiper .swiper-button-next::after,
.our_brands_swiper .swiper-button-next::after {
  display: none;
}
.promo_products_swiper .swiper-button-prev,
.our_products_swiper .swiper-button-prev,
.news_swiper .swiper-button-prev,
.blog_swiper .swiper-button-prev,
.our_brands_swiper .swiper-button-prev {
  position: absolute;
  width: 45px;
  height: 45px;
  background-image: url("./../assets/icons/main_page/hero_swiper/arrow-left.svg");
  background-size: contain;
  display: block;
  background-repeat: no-repeat;
  background-position: center center;
  top: 50%;
  left: -56px;
  z-index: 1;
}
.promo_products_swiper .swiper-button-prev::after,
.our_products_swiper .swiper-button-prev::after,
.news_swiper .swiper-button-prev::after,
.blog_swiper .swiper-button-prev::after,
.our_brands_swiper .swiper-button-prev::after {
  display: none;
}
.promo_products_swiper .swiper-slide img,
.our_products_swiper .swiper-slide img,
.news_swiper .swiper-slide img,
.blog_swiper .swiper-slide img,
.our_brands_swiper .swiper-slide img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

@media (min-width: 2560px) {
  #swiper .swiper .swiper-slide img {
    -o-object-fit: contain;
       object-fit: contain;
  }
}
@media (max-width: 991px) {
  #swiper .swiper.desktop {
    display: none;
  }
  #swiper .swiper.mobile {
    display: block;
  }
  #swiper .swiper .swiper-button-next {
    right: 8px;
  }
  #swiper .swiper .swiper-button-prev {
    left: 8px;
  }
  .promo_products_swiper .swiper-button-next,
  .our_products_swiper .swiper-button-next,
  .news_swiper .swiper-button-next,
  .blog_swiper .swiper-button-next,
  .our_brands_swiper .swiper-button-next {
    right: 8px;
  }
  .promo_products_swiper .swiper-button-prev,
  .our_products_swiper .swiper-button-prev,
  .news_swiper .swiper-button-prev,
  .blog_swiper .swiper-button-prev,
  .our_brands_swiper .swiper-button-prev {
    left: 8px;
  }
}
@media (max-width: 576px) {
  #swiper .swiper .swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
  #swiper .swiper .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
    width: 15px;
    height: 15px;
    margin: 0 6px;
  }
}
#info_section .container .flex-row .flex-col {
  border-right: 2px solid #F26521;
}
#info_section .container .flex-row .flex-col:last-of-type {
  border-right: 0;
}
#info_section .container .flex-row .flex-col .info_section__top {
  width: 80%;
  text-align: left;
}
#info_section .container .flex-row .flex-col .info_section__top img {
  height: 50px;
  width: auto;
  -o-object-fit: contain;
     object-fit: contain;
}
#info_section .container .flex-row .flex-col .info_section__top p {
  display: inline-flex;
  font-size: 20px;
  font-weight: 700;
  line-height: 150%;
  color: #374957;
  text-transform: uppercase;
  margin: 0 0 0 24px;
  width: auto;
  max-width: 180px;
}
#info_section .container .flex-row .flex-col .info_section__bottom {
  text-align: center;
}
#info_section .container .flex-row .flex-col .info_section__bottom p {
  display: inline-flex;
  font-size: 16px;
  font-weight: 400;
  line-height: 160%;
  color: #374957;
  margin: 22px auto 0;
  text-align: center;
  width: 80%;
}

@media (max-width: 991px) {
  #info_section .container .flex-row .flex-col:nth-of-type(2) {
    border-right: 0;
  }
  #info_section .container .flex-row .flex-col .info_section__top p {
    font-size: 18px;
  }
  #info_section .container .flex-row .flex-col .info_section__bottom p {
    font-size: 14px;
    line-height: 140%;
  }
}
@media (max-width: 576px) {
  #info_section .container .flex-row .flex-col .info_section__top {
    flex-direction: column;
  }
  #info_section .container .flex-row .flex-col .info_section__top p {
    margin-left: 0;
    margin-top: 1rem;
    text-align: center;
  }
}
#promo_products_swiper {
  position: relative;
  background-color: #F4F4F4;
  padding: 37px 0 47px 0;
}
#promo_products_swiper::before {
  position: absolute;
  display: block;
  content: "";
  background-color: #F4F4F4;
  left: calc((100vw - 1576px) / 2 * -1);
  top: 0;
  width: 100vw;
  height: 100%;
  z-index: 0;
}

.promo_products_swiper {
  overflow: hidden;
}

@media (max-width: 1639px) {
  #promo_products_swiper::before {
    left: -50vw;
    width: 200vw;
  }
}
#our_products_swiper {
  position: relative;
  background-color: #F4F4F4;
  padding: 37px 0 47px 0;
  margin-bottom: 106px;
}
#our_products_swiper::before {
  position: absolute;
  display: block;
  content: "";
  background-color: #F4F4F4;
  left: calc((100vw - 1576px) / 2 * -1);
  top: 0;
  width: 100vw;
  height: 100%;
  z-index: 0;
}

#our_products_container {
  position: relative;
}
#our_products_container::before {
  position: absolute;
  display: block;
  content: "";
  background-color: #F4F4F4;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100%;
  z-index: 0;
}

.our_products_swiper {
  overflow: hidden;
}

@media (max-width: 1639px) {
  #our_products_swiper::before {
    left: -50vw;
    width: 200vw;
  }
}
@media (max-width: 991px) {
  #our_products_swiper {
    padding-top: 0;
    margin-bottom: 24px;
  }
}
#promo_products_container .container {
  position: relative;
}

.mp-titles {
  position: relative;
  width: 60%;
}
.mp-titles .flex-row .promo-box {
  padding: 5px 24px;
  width: -moz-max-content;
  width: max-content;
  height: 34px;
  margin-bottom: 40px;
  min-width: 234px;
}
.mp-titles .flex-row .promo-box.new {
  background-color: #B5EFCC;
}
.mp-titles .flex-row .promo-box.promotions {
  background-color: #E4EDFF;
}
.mp-titles .flex-row .promo-box.news {
  background-color: #FBA379;
}
.mp-titles .flex-row .promo-box.blog {
  background-color: #9AA8B3;
}
.mp-titles .flex-row .promo-box.about-us {
  background-color: #DBACCB;
}
.mp-titles .flex-row .promo-box.our-brands {
  background-color: #ACBFDB;
}
.mp-titles .flex-row .promo-box p {
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 170%;
  letter-spacing: 9.6px;
  text-transform: uppercase;
  color: #374957;
  text-align: center;
}
.mp-titles .flex-row h1 {
  font-size: 36px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
  text-transform: uppercase;
  color: #374957;
}
.mp-titles .flex-row h1 span {
  font-weight: 900;
  color: #F26521;
}

.mp-bell-promo-box {
  position: relative;
  background-color: #F26521;
  width: -moz-max-content;
  width: max-content;
  height: 105px;
  margin-right: 40px;
  margin-left: 16px;
}
.mp-bell-promo-box--text p {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
  text-transform: uppercase;
  color: #FFFFFF;
  margin: 0;
  text-align: right;
}
.mp-bell-promo-box--text p span {
  display: flex;
  font-weight: 700;
}
.mp-bell-promo-box--data {
  margin-left: 32px;
  margin-right: 24px;
}
.mp-bell-promo-box--data div.calendar-card-top {
  width: 77px;
  height: auto;
  background-color: #FFFFFF;
  border-bottom: 1px solid #F26521;
}
.mp-bell-promo-box--data div.calendar-card-top p {
  font-size: 42px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  color: #F26521;
  margin: 0;
}
.mp-bell-promo-box--data div.calendar-card-bottom {
  width: 77px;
  height: auto;
  background-color: #FFFFFF;
}
.mp-bell-promo-box--data div.calendar-card-bottom p {
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
  color: #F26521;
  margin: 0;
}

.mp-check-all-btn {
  position: relative;
}
.mp-check-all-btn a {
  display: flex;
  width: 79px;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
  color: #374957;
  text-align: right;
  text-decoration: none;
  margin-right: 41px;
}
.mp-check-all-btn a img {
  margin: 0 0 0 11px;
}

@media (max-width: 1199px) {
  #promo_products_container .container {
    flex-wrap: wrap;
  }
  #promo_products_container .container .mp-check-all-btn {
    position: absolute;
    top: 0;
    right: 0;
  }
  #promo_products_container .container .mp-bell-btn-box {
    width: 100%;
    justify-content: center;
    margin-bottom: 24px;
  }
  #promo_products_container .container .mp-bell-btn-box .mp-bell-promo-box {
    margin: auto 0;
  }
}
@media (max-width: 991px) {
  .mp-titles .flex-row.mp-title {
    width: 93vw;
  }
  .mp-titles .flex-row .promo-box {
    margin-bottom: 24px;
    padding: 4px 24px;
  }
  .mp-titles .flex-row .promo-box p {
    font-size: 14px;
    line-height: 28px;
    letter-spacing: 6px;
  }
  .mp-titles .flex-row h1 {
    font-size: 20px;
    line-height: 140%;
    width: 100vw;
  }
  .mp-bell-promo-box--text p {
    font-size: 14px;
    line-height: 140%;
  }
  .mp-bell-promo-box--data {
    margin-left: 16px;
    margin-right: 16px;
  }
  .mp-bell-promo-box--data div.calendar-card-top {
    height: 48px;
  }
  .mp-bell-promo-box--data div.calendar-card-top p {
    font-size: 22px;
  }
  .mp-check-all-btn a {
    font-size: 14px;
    line-height: 125%;
  }
  .mp-check-all-btn a img {
    width: 32px;
    height: 32px;
  }
}
@media (max-width: 576px) {
  #promo_products_container .container .mp-check-all-btn {
    right: 16px;
  }
}
.swiper_products_block_box {
  border: 1px solid #E6E6E6;
  background-color: #FFFFFF;
  height: 555px;
}
.swiper_products_block_box:hover {
  box-shadow: 0px 0px 9px 2px rgba(0, 0, 0, 0.1);
}
.swiper_products_block_box__top .products-image {
  display: flex;
  height: 200px;
  width: 200px;
  margin: 61px auto 48px;
}
.swiper_products_block_box__top .products-image img {
  height: 200px;
  width: 100%;
  max-width: 200px;
  -o-object-fit: contain;
     object-fit: contain;
}
.swiper_products_block_box__top .products-title {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-align: center;
  height: 62px;
  width: 100%;
  margin: 0 auto 16px;
}
.swiper_products_block_box__top .products-title p {
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  color: #374957;
  width: 98%;
  text-align: center;
  margin: 0 auto;
}
.swiper_products_block_box__top .products-code {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-align: center;
  height: 20px;
  width: 100%;
  margin: 0 0 31px 0;
}
.swiper_products_block_box__top .products-code p {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
  color: #4A6375;
  margin: 0 auto;
}
.swiper_products_block_box__bottom {
  width: 100%;
  border-top: 1px solid #E6E6E6;
}
.swiper_products_block_box__bottom .catalog-price p {
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 160%;
  margin: 19px 0 3px 0;
  color: #374957;
}
.swiper_products_block_box__bottom .catalog-price p span {
  font-size: 20px;
}
.swiper_products_block_box__bottom .your-price p {
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 160%;
  color: #374957;
  margin: 0 0 29px 0;
}
.swiper_products_block_box__bottom .your-price p span {
  font-size: 24px;
  color: #F26521;
}

@media (max-width: 991px) {
  .swiper_products_block_box__top .products-image {
    margin: 40px auto 40px;
  }
  .swiper_products_block_box__top .products-title p {
    font-size: 20px;
  }
  .swiper_products_block_box__top .products-code {
    margin: 0 0 24px 0;
  }
  .swiper_products_block_box__top .products-code p {
    font-size: 14px;
    line-height: 140%;
  }
  .swiper_products_block_box__bottom .catalog-price p {
    font-size: 14px;
    line-height: 140%;
  }
  .swiper_products_block_box__bottom .catalog-price p span {
    font-size: 18px;
  }
  .swiper_products_block_box__bottom .your-price p {
    font-size: 14px;
    line-height: 140%;
    margin: 0 0 24px 0;
  }
  .swiper_products_block_box__bottom .your-price p span {
    font-size: 20px;
  }
}
.articles_container__slot {
  margin-right: 46px;
  background-color: #F4F4F4;
  margin-bottom: 72px;
}
.articles_container__slot:nth-of-type(2n) {
  margin-right: 0;
}
.articles_container__slot.macma-catalog {
  border-bottom: 5px solid #B5EFCC;
}
.articles_container__slot.macma-catalog .articles_container__slot--title {
  background-color: #B5EFCC;
}
.articles_container__slot.macma-collection {
  border-bottom: 5px solid #C1B4DE;
}
.articles_container__slot.macma-collection .articles_container__slot--title {
  background-color: #C1B4DE;
}
.articles_container__slot--title {
  padding: 24px;
}
.articles_container__slot--title .article-title h1 {
  font-size: 36px;
  font-style: normal;
  font-weight: 900;
  line-height: 120%;
  text-transform: uppercase;
  color: #374957;
  margin: 0;
}
.articles_container__slot--title .article-button a {
  margin-right: 80px;
}
.articles_container__slot--img img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.articles_container__slot--text {
  padding: 41px 63px;
}
.articles_container__slot--text p {
  font-size: 16px;
  font-weight: 400;
  line-height: 160%;
  color: #374957;
  margin: 0 0 24px 0;
}
.articles_container__slot--text p a {
  font-weight: 700;
  text-decoration: none;
}
.articles_container__slot--text p a:hover {
  text-decoration: underline;
}
.articles_container__slot--text a {
  font-size: 16px;
  font-weight: 700;
  line-height: 160%;
  color: #374957;
  text-decoration: none;
}
.articles_container__slot--text a:hover {
  text-decoration: underline;
}

@media (max-width: 1300px) {
  .articles_container__slot--title {
    height: 95px;
  }
  .articles_container__slot--title .article-title h1 {
    font-size: 28px;
    margin: 0;
  }
}
@media (max-width: 1199px) {
  .articles_container {
    flex-direction: column;
  }
}
@media (max-width: 991px) {
  .articles_container__slot {
    margin-bottom: 24px;
  }
  .articles_container__slot--title {
    padding: 15px;
  }
  .articles_container__slot--title .article-title h1 {
    font-size: 20px;
  }
  .articles_container__slot--title .article-button a {
    margin-right: 36px;
  }
  .articles_container__slot--img img {
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .articles_container__slot--text {
    padding: 24px;
  }
  .articles_container__slot--text p,
  .articles_container__slot--text a {
    font-size: 14px;
    line-height: 140%;
  }
}
.news_swiper {
  overflow: hidden;
  margin-bottom: 70px;
}
.news_swiper .swiper-slide {
  position: relative;
}

.article_swiper_box {
  position: relative;
  overflow: hidden;
}
.article_swiper_box__image {
  width: 496px;
  height: 408px;
}
.article_swiper_box__image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.article_swiper_box__text {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 50%;
  background-color: rgba(251, 162, 121, 0.7333333333);
  padding: 19px 40px;
}
.article_swiper_box__text--date p {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
  margin: 0 0 12px 0;
  color: #374957;
  text-align: left;
}
.article_swiper_box__text--title {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-align: center;
}
.article_swiper_box__text--title p {
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  margin: 0;
  color: #374957;
  text-align: left;
}
.article_swiper_box__text--see-more {
  margin-top: 18px;
}
.article_swiper_box__text--see-more a {
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 160%;
  margin: 0;
  color: #374957;
  text-decoration: none;
  text-align: left;
}
.article_swiper_box__text--see-more a:hover {
  text-decoration: underline;
}

@media (max-width: 991px) {
  .article_swiper_box__image {
    width: 100%;
    height: auto;
  }
  .article_swiper_box__text--title {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-align: center;
  }
  .article_swiper_box__text--title p {
    font-size: 21px;
    line-height: 120%;
  }
  .article_swiper_box__text--see-more a {
    font-size: 14px;
    line-height: 140%;
  }
}
#blog {
  position: relative;
  padding-top: 64px;
}
#blog::before {
  position: absolute;
  display: block;
  content: "";
  background-color: #F4F4F4;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100%;
  z-index: 0;
}

.blog_swiper {
  overflow: hidden;
  margin-bottom: 70px;
  padding-bottom: 79px;
}
.blog_swiper::before {
  position: absolute;
  display: block;
  content: "";
  background-color: #F4F4F4;
  left: calc((100vw - 1576px) / 2 * -1);
  top: 0;
  width: 100vw;
  height: 100%;
  z-index: 0;
}
.blog_swiper .swiper-slide {
  position: relative;
}
.blog_swiper .swiper-slide .article_swiper_box__text {
  background-color: rgba(55, 73, 87, 0.7058823529);
}
.blog_swiper .swiper-slide .article_swiper_box__text--date p,
.blog_swiper .swiper-slide .article_swiper_box__text--date a, .blog_swiper .swiper-slide .article_swiper_box__text--title p,
.blog_swiper .swiper-slide .article_swiper_box__text--title a, .blog_swiper .swiper-slide .article_swiper_box__text--see-more p,
.blog_swiper .swiper-slide .article_swiper_box__text--see-more a {
  color: #FFFFFF;
}

@media (max-width: 1639px) {
  .blog_swiper::before {
    left: -50vw;
    width: 200vw;
  }
}
@media (max-width: 991px) {
  #blog {
    padding-top: 0;
  }
  .blog_swiper {
    margin-bottom: 24px;
    padding-bottom: 24px;
  }
}
#about_us {
  margin-bottom: 77px;
}
#about_us .mp-titles {
  padding: 0 !important;
}
#about_us .mp-titles .flex-row .promo-box {
  margin-bottom: 40px;
}
#about_us .article-text-sg h1 {
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  text-transform: uppercase;
  margin: 0 0 30px 0;
  color: #374957;
}
#about_us .article-text-sg h1 span {
  color: #F26521;
  font-weight: 900;
}
#about_us .article-text-sg p {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
  margin: 0 0 30px 0;
  color: #374957;
}
#about_us .article-text-sg p a {
  text-decoration: underline;
}
#about_us .article-text-sg p a:hover {
  text-decoration: none;
}
#about_us .article-text-sg a {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
  color: #374957;
  text-decoration: underline;
}
#about_us .article-text-sg a:hover {
  text-decoration: none;
}

@media (max-width: 991px) {
  #about_us .article-text-sg h1 {
    font-size: 21px;
    margin: 0 0 24px 0;
  }
  #about_us .article-text-sg p {
    font-size: 14px;
    line-height: 140%;
    margin: 0 0 24px 0;
  }
  #about_us .article-text-sg a {
    font-size: 14px;
    line-height: 140%;
  }
  #about_us .article-text-sg__content {
    flex-direction: column !important;
  }
  #about_us .article-text-sg__content .left-column,
  #about_us .article-text-sg__content .right-column {
    width: 100% !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
}
#our_brands .mp-titles {
  padding-top: 0 !important;
}
#our_brands .swiper-slide a {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 111px;
}
#our_brands .swiper-slide a img {
  height: 111px;
  width: auto;
  -o-object-fit: contain;
     object-fit: contain;
}

.our_brands_swiper {
  overflow: hidden;
  margin-bottom: 70px;
}
.our_brands_swiper .swiper-slide {
  position: relative;
}
.our_brands_swiper .swiper-slide .article_swiper_box__text {
  background-color: rgba(55, 73, 87, 0.7058823529);
}
.our_brands_swiper .swiper-slide .article_swiper_box__text--date p,
.our_brands_swiper .swiper-slide .article_swiper_box__text--date a, .our_brands_swiper .swiper-slide .article_swiper_box__text--title p,
.our_brands_swiper .swiper-slide .article_swiper_box__text--title a, .our_brands_swiper .swiper-slide .article_swiper_box__text--see-more p,
.our_brands_swiper .swiper-slide .article_swiper_box__text--see-more a {
  color: #FFFFFF;
}/*# sourceMappingURL=main.css.map */