.branding-table {
    margin-bottom: 75px;
    h1 {
        font-size: 72px;
        font-weight: 600;
        line-height: 120%;
        text-transform: uppercase;
        color: $text_color;
        margin: 0 0 40px 0;
    }
    table {
        width: 100%;
        tbody {
            tr {
                height: 75px;
                &:nth-of-type(even) {
                    background-color: $light_grey;
                }
                th {
                    font-size: 20px;
                    font-weight: 500;
                    line-height: 177.023%; 
                    margin: 0;
                    color: $text_color;
                    background-color: $light_orange2;
                    padding: 8px 0;
                    &:first-of-type {
                        min-width: 300px;
                        padding-left: 68px;
                    }
                }
                td {
                    font-size: 20px;
                    font-weight: 400;
                    line-height: 177.023%; 
                    margin: 0;
                    padding: 8px 0;
                    color: $text_color;
                    &:first-of-type {
                        min-width: 300px;
                        padding-left: 68px;
                    }
                }
            }
        }
    }
}

@media (max-width: 1399px) {
    .branding-table {
        h1 {
            font-size: 50px;
            margin: 0 0 24px 0;
        }
    }
}

@media (max-width: 1199px) {
    .branding-table {
        h1 {
            font-size: 36px;
        }
    }
}

@media (max-width: 991px) {
    .branding-table {
        h1 {
            font-size: 30px;
        }
        table {
            width: 100%;
            tbody {
                tr {
                    height: 40px;
                    th {
                        font-size: 14px;
                        line-height: 140%; 
                        &:first-of-type {
                            min-width: 140px;
                            padding-left: 16px;
                        }
                    }
                    td {
                        font-size: 14px;
                        line-height: 140%; 
                        &:first-of-type {
                            min-width: 140px;
                            padding-left: 16px;
                        }
                    }
                }
            }
        }
    }
}