.branding_seo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 80px auto 100px auto;
  padding: 0;
  &__img {
    margin-left: 0;
    margin-right: 64px;
    img {
      width: 240px;
      height: 240px;
      object-fit: contain;
    }
  }
  &__text {
    width: 90%;
    p {
      font-size: 20px;
      font-weight: 400;
      line-height: 177.023%;
      margin: 0 0 16px 0;
      color: $text_color;
    }
  }
}

@media (max-width: 1199px) {
  .branding_seo {
    &__text {
      p {
        font-size: 17px;
        line-height: 140%;
      }
    }
  }
}

@media (max-width: 991px) {
  .branding_seo {
    flex-direction: column;
    justify-content: center;
    margin: 24px auto 24px auto;
    &__img {
      margin: 16px;
    }
    &__text {
      p {
        font-size: 14px;
      }
    }
  }
}
