.gallery_article {
  display: flex;
  flex-direction: row;
  margin-bottom: 126px;

  .branding-right-col {
    margin-left: 48px;
  }

  &__left {
    display: flex;
    flex-direction: column;
    width: 45%;
    margin-right: 1%;

    h1 {
      font-size: 72px;
      font-style: normal;
      font-weight: 600;
      line-height: 120%;
      text-transform: uppercase;
      color: $text_color;
      margin: 0 0 28px 0;
    }

    b {
      font-size: 20px;
      font-style: normal;
      font-weight: 500;
      line-height: 177.023%;
      color: $text_color;
      margin: 0 0 16px 0;
    }

    .gallery_article_left__tags {
      display: inline-flex;
      flex-wrap: wrap;
      margin-bottom: 35px;
      &--slot {
        display: flex;
        min-width: 74px;
        padding: 5px 20px;
        justify-content: center;
        align-items: center;
        margin: 0 10px 10px 0;
        background-color: $light_green;
        p {
          font-size: 16px;
          font-style: normal;
          font-weight: 500;
          line-height: 150%;
          text-transform: uppercase;
          color: $text_color;
          margin: 0;
        }
      }
    }

    .gallery_article_left__text {
      p {
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: 177.023%;
        color: $text_color;
      }
    }
  }

  &__right {
    position: relative;
    display: flex;
    width: 50%;
    height: max-content;
    margin: 0 2%;
    padding: 0;
    overflow: hidden;

    .container {
      padding: 0;
    }

    /* galleryTop */
    .gallery {
      display: flex;
      justify-content: center;
      align-items: center;
      .swiper-slide {
        height: auto;
      }
    }

    .gallery img {
      width: 100%;
      height: auto;
      user-select: none;
      width: max-content;
      max-height: 474px;
    }

    /* thumbs */
    .gallery-thumbs {
      overflow: visible;
    }
    .gallery-thumbs .swiper-slide {
      width: auto;
      opacity: 0.8;
      margin-top: 20px;
      user-select: none;
      border: 1px solid #c0c5c8;
      &-active {
        opacity: 1;
      }
    }
    .gallery-thumbs img {
      cursor: pointer;
      object-fit: contain;
      max-height: 170px;
      width: 100%;
      padding: 20px;
    }

    /* buttons */
    .swiper-button-next {
      position: absolute;
      width: 45px;
      height: 45px;
      background-image: url("./../assets/icons/main_page/hero_swiper/arrow-right.svg");
      background-size: contain;
      background-color: $white;
      display: block;
      background-repeat: no-repeat;
      background-position: center center;
      top: unset;
      bottom: 70px;
      right: 0;
      z-index: 1;

      &::after {
        display: none;
      }
    }

    .swiper-button-prev {
      position: absolute;
      width: 45px;
      height: 45px;
      background-image: url("./../assets/icons/main_page/hero_swiper/arrow-left.svg");
      background-size: contain;
      background-color: $white;
      display: block;
      background-repeat: no-repeat;
      background-position: center center;
      top: unset;
      bottom: 70px;
      left: 0;
      z-index: 1;

      &::after {
        display: none;
      }
    }
  }
}

@media (max-width: 1199px) {
  .gallery_article {
    flex-direction: column;
    margin-bottom: 80px;

    .branding-right-col {
      margin-left: 0;
    }

    &__left {
      width: 100%;
      margin-right: 0;

      h1 {
        font-size: 36px;
        margin: 0 0 24px 0;
      }

      b {
        font-size: 16px;
      }

      .gallery_article_left__tags {
        margin-bottom: 24px;
        &--slot {
          min-width: unset;
          p {
            font-size: 14px;
            line-height: 140%;
          }
        }
      }

      .gallery_article_left__text {
        p {
          font-size: 14px;
          line-height: 140%;
        }
      }
    }

    &__right {
      width: 100%;
      margin-left: 0;
    }
  }
}

@media (max-width: 991px) {
  .gallery_article {
    flex-direction: column;
    margin-bottom: 64px;

    &__left {
      h1 {
        font-size: 30px;
      }

      b {
        font-size: 14px;
        line-height: 140%;
      }
    }

    &__right {
      margin: 0;
      padding: 0;
      .gallery img {
        max-height: unset;
        height: 100%;
      }
      .swiper-slide {
        height: 180px !important;
      }
      .gallery-thumbs {
        overflow: hidden;
        margin: 16px 40px 0 40px;
        .swiper-slide {
          height: auto !important;
        }
      }

      /* buttons */
      .swiper-button-next {
        bottom: 40px;
        right: -10px;
      }

      .swiper-button-prev {
        bottom: 40px;
        left: -10px;
      }
    }
  }
}
