#hero {
    position: relative;
    width: 100vw;
    margin-bottom: 72px;
    &::before {
        position: absolute;
        display: block;
        content: "";
        background-color: $branding_hero_banner_pink;
        top: 0;
        left: -50vw;
        height: 100%;
        width: 60vw;
        z-index: -1;
    }
    &::after {
        position: absolute;
        display: block;
        content: "";
        background-color: $branding_hero_banner_yellow;
        top: 0;
        right: -50vw;
        height: 100%;
        width: 60vw;
        z-index: -1;
    }
    .hero_content {
        position: absolute;
        top: 100px;
        left: 0;
        width: 35vw;
        z-index: 1;
        h1 {
            font-size: 72px;
            font-style: normal;
            font-weight: 600;
            line-height: 120%;
            text-transform: uppercase;
            color: $text-color;
            margin: 0 0 26px 0;
        }
        p {
            font-size: 20px;
            font-style: normal;
            font-weight: 400;
            line-height: 177.023%;
            color: $text-color;
            margin: 0 0 26px 0;
        }
        &--btn {
            display: inline-flex;
            justify-content: center;
            align-items: center;
            margin-top: 24px;
            border: 1px solid $macma_orange;
            background-color: $white;
            width: 192px;
            height: 54px;
            a {
                display: inline-flex;
                justify-content: center;
                align-items: center;
                width: 100%;
                height: 100%;
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                color: $macma_orange;
                text-decoration: none;
                img {
                    margin-left: 10px;
                }
            }
            &:hover {
                background-color: $macma_orange;
                a {
                    color: $white;
                    img {
                        content: url('./../assets/icons/common/buttons/button_white_arrow.svg');
                    }
                }
            }
        }
    }
    .hero_video {
        position: absolute;
        top: 100px;
        right: 2vw;
        display: flex;
        z-index: 1;
        iframe {
            border-radius: 10px;
            box-shadow: -33px 45px 50px 24px rgba(0, 0, 0, 0.25);
        }
    }
}

@media (max-width: 1399px) {
    #hero {
        .hero_content {
            h1 {
                font-size: 50px;
                margin: 0 0 24px 0;
            }
            p {
                font-size: 18px;
                margin: 0 0 20px 0;
            }
        }
        .hero_video {
            right: 0;
            iframe {
                width: 640px;
                height: 360px;
            }
        }
    }
}

@media (max-width: 1199px) {
    #hero {
        background-color: $branding_hero_banner_pink;
        position: relative;
        width: 100vw;
        margin-bottom: 148px;
        &::after {
            display: none;
        }
        &::before {
            width: 300vw;
            right: 0;
            height: 120%;
        }
        .hero_content {
            position: relative;
            top: 40px;
            left: 0;
            width: 100%;
            h1 {
                font-size: 36px;
                margin: 0 0 24px 0;
            }
            p {
                font-size: 14px;
                margin: 0 0 20px 0;
            }
            &--btn {
                margin-top: 16px;
                width: 180px;
                height: 48px;
                a {
                    font-size: 14px;
                }
            }
        }
        .hero_video {
            position: relative;
            top: 80px;
            right: unset;
            left: 0;
            z-index: 1;
            iframe {
                width: 90vw;
            }
        }
        .hero_image {
            display: none;
        }
    }
}

@media (max-width: 760px) {
    #hero {
        .hero_content {
            h1 {
                font-size: 26px;
            }
        }
        .hero_video {
            iframe {
                height: 300px;
            }
        }
    }
}

@media (max-width: 460px) {
    #hero {
        .hero_video {
            iframe {
                height: 196px;
            }
        }
    }
}