.offertspage_container.step_five {
    .offertspage-table_box {
        width: 100%;
        .offertspage-final-container {
            display: flex;
            flex-wrap: wrap;
            &__col {
                display: flex;
                flex-direction: column;
                background-color: $white;
                width: 33.3%;
                margin-right: 0;
                margin-bottom: 17px;
                .title {
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    height: 70px;
                    border-bottom: 1px solid $light_grey;
                    padding: 0 43px;
                    p {
                        font-size: 18px;
                        font-style: normal;
                        font-weight: 600;
                        line-height: 120%;
                        text-transform: uppercase;
                        color: $text_color;
                        margin: 0;
                    }
                }
                .col-container {
                    padding: 14px 43px;
                    &.middle {
                        display: flex;
                        flex-direction: column;
                        .final-radios-types {
                            margin-bottom: 184px;
                            label {
                                font-size: 18px;
                                font-weight: 400;
                                line-height: 160%;
                                color: $text_color;
                                .custom-radio-checkmark {
                                    top: 5px;
                                }
                            }
                        }
                        .email-box {
                            h3 {
                                font-size: 18px;
                                font-style: normal;
                                font-weight: 600;
                                line-height: 120%;
                                text-transform: uppercase;
                                margin: 0;
                            }
                            .desc {
                                font-size: 12px;
                                font-weight: 400;
                                line-height: 177.023%;
                                margin: 0;
                                color: $grey5;
                            }
                            input {
                                height: 40px;
                                width: 100%;
                                margin-top: 9px;
                                &:hover,
                                &:focus {
                                    border: 0;
                                    outline: 0;
                                }
                            }
                        }
                    }
                    &_prices {
                        p {
                            font-size: 18px;
                            font-style: normal;
                            font-weight: 400;
                            line-height: 160%;
                            margin: 0 0 9px 0;
                            color: $grey5;
                            span {
                                color: $text_color;
                            }
                        }
                    }
                    &_line {
                        display: block;
                        width: 100%;
                        height: 1px;
                        background-color: $light_grey;
                        margin: 16px 0;
                    }
                    &_summary-price {
                        margin-bottom: 24px;
                        p {
                            font-size: 18px;
                            font-style: normal;
                            font-weight: 600;
                            line-height: 120%;
                            text-transform: uppercase;
                            color: $macma_orange;
                            margin: 0;
                            span {
                                font-size: 30px;
                                font-weight: 700;
                                line-height: 177.023%
                            }
                        }
                    }
                    &_discount-code {
                        label {
                            font-size: 18px;
                            font-style: normal;
                            font-weight: 600;
                            line-height: 120%;
                            text-transform: uppercase;
                            color: $text_color;
                        }
                        .input-button {
                            input {
                                width: 70%;
                                height: 40px;
                                font-size: 14px;
                                font-style: normal;
                                font-weight: 400;
                                line-height: 177.023%;
                                color: $grey5;
                                &::placeholder {
                                    font-size: 14px;
                                    font-style: normal;
                                    font-weight: 400;
                                    line-height: 177.023%;
                                    color: $grey5;
                                }
                                &:hover,
                                &:focus {
                                    border: 0;
                                    outline: 0;
                                }
                            }
                            button {
                                all: unset;
                                cursor: pointer;
                                box-sizing: border-box;
                                font-size: 14px;
                                font-style: normal;
                                font-weight: 600;
                                line-height: 40px; 
                                text-transform: uppercase;
                                color: $text_color;
                                display: inline-flex;
                                justify-content: center;
                                align-items: center;
                                width: 30%;
                                height: 40px;
                                border: 1px solid $macma_orange;
                                margin-left: -4px;
                                &:hover {
                                    background-color: $macma_orange;
                                    color: $white;
                                }
                            }
                        }
                    }
                    .final-radios-types {
                        margin-bottom: 29px;
                        &_slot {
                            display: inline-flex;
                            justify-content: space-between;
                            width: 100%;
                            label {
                                font-size: 18px;
                                font-style: normal;
                                font-weight: 400;
                                line-height: 160%;
                                color: $text_color;
                                .custom-radio-checkmark {
                                    top: 5px;
                                }
                            }
                            .pay-images {
                                img {
                                    margin-left: 14px;
                                }
                            }
                        }
                    }
                    .custom-checkbox-container {
                        font-size: 14px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 177.023%;
                        color: $text_color;
                        .custom-checkbox-checkmark {
                            width: 20px;
                            height: 20px;
                            top: 1px;
                            &::after {
                                left: 7px;
                                top: 3px;
                            }
                        }
                    }
                    .desc {
                        font-size: 12px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 177.023%;
                        margin: 0 0 35px 0;
                        color: $grey5;
                        a {
                            color: $macma_orange;
                            text-decoration: none;
                            &:hover {
                                text-decoration: underline;
                            }
                        }
                    }
                    button {
                        width: 100%;
                        height: 54px;
                        font-size: 16px;
                        font-weight: 700;
                        text-transform: uppercase;
                        img {
                            margin-top: -2px;
                        }
                    }
                    .pay-info {
                        margin-top: 10px;
                        font-size: 12px;
                        font-weight: 400;
                        line-height: 177.023%;
                        text-align: center;
                        color: $grey5;
                    }
                }
            }
        }
        .bottom-offertspage-box-with-btn {
            margin-right: 0;
            margin-bottom: 15px;
        }
    }
}

@media (max-width: 1260px) {
    .offertspage_container.step_five {
        .offertspage-table_box {
            .bottom-offertspage-box-with-btn {
                .bottom-offertspage-button {
                    position: relative;
                }
            }
        }
    }   
}

@media (max-width: 991px) {
    .offertspage_container.step_five {
        .offertspage-table_box {
            .offertspage-final-container {
                &__col {
                    width: 100%;
                    .title {
                        height: 40px;
                        padding: 0 16px;
                        p {
                            font-size: 16px;
                        }
                    }
                    .col-container {
                        padding: 16px;
                        &.middle {
                            .final-radios-types {
                                margin-bottom: 24px;
                                label {
                                    font-size: 14px;
                                    line-height: 140%;
                                    .custom-radio-checkmark {
                                        top: 1px;
                                    }
                                }
                            }
                            .email-box {
                                h3 {
                                    font-size: 16px;
                                }
                            }
                        }
                        &_prices {
                            p {
                                font-size: 14px;
                                line-height: 140%;
                            }
                        }
                        &_summary-price {
                            margin-bottom: 20px;
                            p {
                                font-size: 16px;
                                span {
                                    font-size: 28px;
                                }
                            }
                        }
                        &_discount-code {
                            label {
                                font-size: 16px;
                            }
                        }
                        .final-radios-types {
                            margin-bottom: 24px;
                            &_slot {
                                label {
                                    font-size: 14px;
                                    line-height: 140%;
                                    .custom-radio-checkmark {
                                        top: 1px;
                                    }
                                }
                            }
                        }
                        button {
                            font-size: 14px;
                        }
                    }
                }
            }
        }
    }
}