.offertspage_container.step_five {
  padding-bottom: 200px;
  .offertspage-offerts-details {
    &-container {
      display: flex;
      flex-direction: column;
      .offerts-details__top {
        display: flex;
        flex-direction: row;
        width: 100%;
        background-color: $white;
        &__col {
          display: flex;
          flex-direction: column;
          width: 34%;
          border-right: 13px solid $light_grey;
          &:last-of-type {
            border-right: 0;
          }
          .title {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            min-height: 70px;
            border-bottom: 1px solid $light_grey;
            p {
              font-size: 14px;
              font-style: normal;
              font-weight: 400;
              line-height: 120%;
              color: $text_color;
              padding: 25px 27px;
              margin: 0;
              &.desc {
                font-size: 12px;
                padding: 0 27px;
                margin-top: -25px;
                margin-bottom: 16px;
              }
              &.orange {
                color: $macma_orange;
              }
            }
          }
          .centered-title {
            display: flex;
            justify-content: center;
            align-items: center;
            min-height: 70px;
            border-bottom: 1px solid $light_grey;
            p {
              font-size: 16px;
              font-style: normal;
              font-weight: 600;
              line-height: 120%;
              color: $text_color;
              padding: 25px 27px;
              margin: 0;
            }
          }
          .details-content {
            padding: 15px 30px;

            .form-check.form-switch {
              display: inline-flex;
              align-items: center;
              justify-content: center;
              padding: 0 16px 0 0;
              width: max-content;
              margin-bottom: 16px;
              .form-check-label {
                display: inline-flex;
                user-select: none;
                order: 2;
                height: 20px;
                font-size: 12px;
                line-height: 20px;
                cursor: pointer;
                @media (max-width: 900px) {
                  font-size: 13px;
                }
              }
              .form-check-input {
                display: inline-flex;
                order: 1;
                margin-right: 8px;
                width: 40px;
                height: 20px;
                margin-top: 0;
                margin-bottom: 0;
                cursor: pointer;
                &:checked {
                  background-color: $green;
                  border-color: $green;
                }
              }
            }

            &.border-bottom {
              border-bottom: 13px solid $light_grey !important;
            }
            input,
            select {
              height: 35px;
              width: 100%;
              padding: 0 16px;
              margin: 0 0 12px 0;
            }
            textarea {
              min-height: 190px;
              width: 100%;
              border: 0;
              margin: 0 0 12px 0;
              padding: 16px;
            }
            label {
              height: 35px;
              font-size: 12px;
              font-style: normal;
              font-weight: 400;
              line-height: 177.023%;
              &.custom-checkbox-container {
                margin-bottom: 6px;
              }
              .custom-radio-checkmark {
                top: 2px;
              }
              .custom-checkbox-checkmark {
                top: -2px;
              }
            }
            .additional-info {
              font-size: 12px;
              font-style: normal;
              font-weight: 400;
              line-height: 177.023%;
              span {
                color: $macma_orange;
              }
            }
            .details-two-col {
              display: flex;
              flex-direction: row;
              justify-content: space-between;
              height: 70px;
              margin-bottom: 18px;
              &__left {
                width: 45%;
                height: 35px;
              }
              &__right {
                width: 45%;
                height: 35px;
              }
            }
          }
        }
      }
      .offerts-details__bottom {
        background-color: $white;
        border-top: 13px solid $light_grey !important;
        .title {
          display: flex;
          justify-content: flex-start;
          align-items: center;
          min-height: 70px;
          border-bottom: 1px solid $light_grey;
          p {
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 120%;
            color: $text_color;
            padding-left: 46px;
            margin: 0;
          }
          select {
            height: 35px;
            min-width: 108px;
            margin: 0 0 0 15px;
            padding: 0 15px;
          }
        }
        .details-content {
          padding: 15px 30px;
          textarea {
            width: 100%;
            margin-bottom: 8px;
            padding: 16px;
          }
        }
      }
    }
  }
  .bottom-offertspage-box-with-btn {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding-bottom: 24px;
  }
}

@media (max-width: 1100px) {
  .offertspage_container.step_five {
    padding-bottom: 40px;
    h1 {
      font-size: 24px;
      padding: 24px 0 0 0;
    }
    .offertspage-offerts-details {
      &-container {
        .offerts-details__top {
          flex-direction: column;
          flex-wrap: wrap;
          &__col {
            display: flex;
            flex-direction: column;
            width: 100%;
            border-right: 0;
            &:last-of-type {
              border-right: 0;
              width: 100%;
            }
            .title {
              min-height: 40px;
              border-top: 1px solid $light_grey;
              p {
                padding: 16px;
                &.desc {
                  padding: 0 16px;
                  margin-top: -16px;
                  margin-bottom: 16px;
                }
              }
            }
            .centered-title {
              min-height: 40px;
              p {
                font-size: 14px;
                padding: 16px;
              }
            }
            .details-content {
              padding: 16px;
              textarea {
                margin: 0;
              }
            }
          }
        }
        .offerts-details__bottom {
          .title {
            min-height: 56px;
            padding: 0 16px;
            justify-content: flex-start;
            p {
              padding-left: 0;
            }
          }
          .details-content {
            padding: 16px;
          }
        }
      }
    }
  }
}
