.offertspage_container.step_three {
    background-color: $light_grey;
    h1 {
        font-size: 40px;
        font-style: normal;
        font-weight: 600;
        line-height: 120%;
        text-transform: uppercase;
        padding: 42px 0 50px 0;
        margin: 0;
    }
    .top-title-box {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 100%;
        &__left {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            width: calc(80% - 30px);
            margin-right: 30px;
            h1 {
                font-size: 40px;
                font-style: normal;
                font-weight: 600;
                line-height: 120%;
                text-transform: uppercase;
                padding: 42px 0 50px 0;
                margin: 0;
            }
        }
        &__right {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: flex-end;
            width: 20%;
            .help-box {
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                text-decoration: none;
                width: 109px;
                height: 32px;
                background-color: $white;
                img {
                    margin-right: 8px;
                }
                span {
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 120%;
                    color: $text_color;
                    margin: 0;
                }
            }
        }
    }
    .offertspage-table_box {
        width: 80%;
        margin-right: 30px;
        .offertspage-products-table {
            border-collapse: collapse;
            border: 1px solid $light_grey;
            width: calc(100% - 30px);
            margin-right: 30px;
            tbody {
                background-color: $white;
                tr {
                    &.spacer15 {
                        display: flex;
                        width: 100%;
                        height: 15px;
                        background-color: $light_grey;
                    }
                    th {
                        border-collapse: collapse;
                        border: 1px solid $light_grey;
                        border-bottom: 3px solid $light_grey;
                        min-height: 70px;
                        height: auto;
                        width: auto;
                        text-align: center;
                        padding: 12px;
                    }
                    td {
                        border-collapse: collapse;
                        border: 1px solid $light_grey;
                        border-bottom: 3px solid $light_grey;
                        height: auto;
                        width: auto;
                        text-align: center;
                        padding: 12px;
                        .bottom-offertspage-box-with-btn {
                            .bottom-offertspage-box {
                                display: flex;
                                align-items: center;
                                padding: 0 0 0 20px;
                                p {
                                    font-size: 16px;
                                    font-style: normal;
                                    font-weight: 600;
                                    line-height: 120%;
                                    margin: 0;
                                    color: $text_color;
                                }
                                input {
                                    margin: 0 15px;
                                }
                                button {
                                    all: unset;
                                    box-sizing: border-box;
                                    background-color: $white;
                                    border: 1px solid $macma_orange;
                                    color: $macma_orange;
                                    font-size: 16px;
                                    font-style: normal;
                                    font-weight: 400;
                                    line-height: normal;
                                    margin: 0;
                                    padding: 6px 20px;
                                    width: auto;
                                    height: 35px;
                                    cursor: pointer;
                                    &:hover {
                                        background-color: $macma_orange;
                                        color: $white;
                                    }
                                }
                            }
                        }
                        &.green {
                            color: $dashboard_green;
                        }
                        &.table-product-col {
                            width: 25%;
                        }
                        .table-product-box {
                            &__top {
                                margin-bottom: 16px;
                                p {
                                    font-size: 16px;
                                    font-style: normal;
                                    font-weight: 600;
                                    line-height: 120%;
                                    text-transform: uppercase;
                                    color: $text_color;
                                    margin: 0;
                                }
                            }
                            &__bottom {
                                display: flex;
                                flex-direction: row;
                                justify-content: center;
                                &--left {
                                    display: flex;
                                    flex-direction: column;
                                    justify-content: center;
                                    align-items: flex-start;
                                    margin-right: 40px;
                                    img {
                                        object-fit: contain;
                                    }
                                }
                                &--right {
                                    display: flex;
                                    flex-direction: column;
                                    justify-content: center;
                                    align-items: flex-start;
                                    p {
                                        font-size: 10px;
                                        font-style: normal;
                                        font-weight: 400;
                                        line-height: 177.023%;
                                        margin: 0;
                                        color: $grey5;
                                        white-space: pre;
                                        span {
                                            color: $text_color;
                                        }
                                    }
                                }
                            }
                        }
                        input {
                            all: unset;
                            width: 108px;
                            height: 35px;
                            box-sizing: border-box;
                            background-color: $light_grey;
                            padding: 0 0 0 17px;
                            font-size: 16px;
                            font-style: normal;
                            font-weight: 400;
                            line-height: 177.023%;
                            color: $text_color;
                            text-align: left;
                            margin: 0;
                        }
                    }
                }
            }
        }
        .bottom-cart-box-with-btn {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            width: calc(100% + 15px);
            margin-bottom: 200px;
        }
    }
    .sumary_box {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 20%;
        height: max-content;
        background-color: $white;
        &--title {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            min-height: 70px;
            height: auto;
            border-bottom: 1px solid $light_grey;
            padding: 16px 24px;
            p {
                font-size: 18px;
                font-style: normal;
                font-weight: 600;
                line-height: 120%;
                text-transform: uppercase;
                margin: 0;
                color: $text_color;
                text-align: center;
            }
        }
        &--netto {
            border-bottom: 1px solid $light_grey;
            width: 100%;
            padding: 26px 8px;
            .netto-value {
                font-size: 30px;
                font-style: normal;
                font-weight: 400;
                line-height: 177.023%;
                margin: 0;
                color: $macma_orange;
                text-align: center;
            }
            .netto-text {
                font-size: 14px;
                font-style: normal;
                font-weight: 400;
                line-height: 160%;
                margin: 0;
                color: $grey5;
                text-align: center;
            }
        }
        &--brutto {
            border-bottom: 1px solid $light_grey;
            width: 100%;
            padding: 26px 0;
            .brutto-value {
                font-size: 24px;
                font-style: normal;
                font-weight: 400;
                line-height: 177.023%;
                margin: 0;
                color: $text_color;
                text-align: center;
            }
            .brutto-text {
                font-size: 14px;
                font-style: normal;
                font-weight: 400;
                line-height: 160%;
                margin: 0;
                color: $grey5;
                text-align: center;
            }
        }
        &--profit {
            width: 100%;
            padding: 26px 0;
            .profit-value {
                font-size: 24px;
                font-style: normal;
                font-weight: 400;
                line-height: 177.023%;
                margin: 0;
                color: $dashboard_green;
                text-align: center;
            }
            .profit-text {
                font-size: 14px;
                font-style: normal;
                font-weight: 400;
                line-height: 160%;
                margin: 0;
                color: $grey5;
                text-align: center;
            }
        }
    }
}

@media (max-width: 1640px) {
    .offertspage_container.step_three {
        .offertspage-table_full_box {
            position:  relative !important;
            flex-direction: column !important;
            .offertspage-table_box {
                width: 100% !important;
            }
            .sumary_box {
                margin-top: 23px !important;
                margin-bottom: 120px !important;
            }
        }
        .bottom-cart-box-with-btn {
            position: absolute;
            bottom: 24px;
            left: 0;
            margin-top: 24px !important;
            margin-bottom: 24px !important;
            width: 100% !important;
        }
    }
}

@media (max-width: 1260px) {
    .offertspage_container.step_three  {
        h1 {
            font-size: 24px;
            padding: 24px 0 24px 0;
        }
        .offertspage-table_full_box {
            position: relative;
            flex-direction: column !important;
        }
        .offertspage-step-table-container {
            overflow-x: scroll;
        }
        .offertspage-table_box {
            width: 100%;
            .offertspage-products-table {
                width: 100%;
                margin-right: 0;
                tbody {
                    tr {
                        th {
                            min-height: 40px;
                            padding: 10px;
                            font-size: 12px;
                        }
                        td {
                            padding: 10px;
                            font-size: 12px;
                            min-width: 100px;
                            &.table-number-col {
                                min-width: 40px;
                            }
                            &.table-product-col {
                                width: 25%;
                            }
                            .table-product-box {
                                &__top {
                                    p {
                                        font-size: 12px;
                                        line-height: 140%;
                                    }
                                }
                                &__bottom {
                                    &--left {
                                        margin-right: 24px;
                                    }
                                    &--right {
                                        white-space: pre;
                                    }
                                }
                            }
                            input {
                                padding: 0 0 0 12px;
                                font-size: 12px;
                                line-height: 140%;
                            }
                        }
                    }
                }
            }
        }
        .bottom-offertspage-box  {
            flex-direction: row !important;
            p, button {
                font-size: 13px !important;
            }
        }
        .sumary_box {
            width: 100%;
            margin: 16px 0 120px 0;
            &--title {
                height: 40px;
                p {
                    font-size: 15px;
                }
            }
            &--netto {
                padding: 16px 0;
                .netto-value {
                    font-size: 18px;
                    line-height: 140%;
                }
                .netto-text {
                    font-size: 13px;
                    line-height: 140%;
                }
            }
            &--brutto {
                padding: 16px 0;
                .brutto-value {
                    font-size: 16px;
                    line-height: 140%;
                }
                .brutto-text {
                    font-size: 13px;
                    line-height: 140%;
                }
            }
            &--profit {
                padding: 16px 0;
                .profit-value {
                    font-size: 16px;
                    line-height: 140%;
                }
                .profit-text {
                    font-size: 13px;
                    line-height: 140%;
                }
            }
        }
    }
}

@media (max-width: 992px) {
        .offertspage_container.step_three  {
        .top-title-box {
            flex-direction: column;
            &__left {
                flex-direction: column;
                width: 100%;
                margin-right: 0;
                h1 {
                    font-size: 24px;
                    padding: 24px 0 24px 0;
                }
            }
            &__right {
                .help-box {
                    padding: 0 16px;
                    margin: 16px 0;
                }
            }
        }
    }
}