.cart_container.step_three {
    .cart-table_box {
        width: 100%;
        position: relative;
        .bottom-cart-box-with-btn {
            width: 80%;
            border-right: 27px solid $light_grey;
            .next {
                position: absolute;
                bottom: 390px;
                left: calc(80% - 121px);
                margin: 0;
            }
            .prev {
                margin: -30px 0 320px 0;
            }
        }
    }
    .cart-products-table {
        tr {
            border-bottom: 18px solid $light_grey;
            &:last-of-type {
                background-color: $light_grey;
            }
            td {
                padding: 0 !important;
                &:first-of-type {
                    width: 40px !important;
                    min-width: 40px !important;
                }
                &.send-info-td {
                    width: 290px;
                    border-left: 27px solid $light_grey;
                    .cart-delivery-time-box {
                        display: flex;
                        flex-direction: column;
                        justify-content: flex-start;
                        margin-top: -52px;
                        &--title {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            width: 100%;
                            height: 70px;
                            border-bottom: 1px solid $light_grey;
                            p {
                                font-size: 18px;
                                font-style: normal;
                                font-weight: 600;
                                line-height: 120%;
                                text-transform: uppercase;
                                text-align: center;
                                margin: 0;
                            }
                        }
                        &--info {
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            align-items: center;
                            padding: 40px 0;
                            p {
                                font-size: 20px;
                                font-style: normal;
                                font-weight: 600;
                                line-height: 120%;
                                text-transform: uppercase;
                                color: $macma_orange;
                                margin: 0;
                            }
                        }
                    }
                }
                .cart-delivery-product-box {
                    width: 100%;
                    margin-bottom: 6px;
                    &__top {
                        display: flex;
                        flex-direction: row;
                        justify-content: space-between;
                        align-items: center;
                        padding: 24px 44px;
                        border-bottom: 1px solid $light_grey;
                        &__left {
                            .title {
                                font-size: 18px;
                                font-style: normal;
                                font-weight: 600;
                                line-height: 120%;
                                text-transform: uppercase;
                                color: $text_color;
                                margin: 0;
                                text-align: left;
                                text-decoration: none;
                            }
                            .code {
                                font-size: 12px;
                                font-style: normal;
                                font-weight: 400;
                                line-height: 177.023%;
                                margin: 0;
                                color: $grey5;
                                text-align: left;
                                span {
                                    color: $text_color;
                                }
                            }
                        }
                    }
                    &__bottom {
                        display: flex;
                        flex-direction: row;
                        justify-content: space-around;
                        padding: 16px 0;
                        .cart-delivery__col {
                            display: flex;
                            flex-direction: column;
                            align-items: flex-start;
                            h3 {
                                font-size: 18px;
                                font-style: normal;
                                font-weight: 400;
                                line-height: 177.023%;
                                color: $text_color;
                                margin: 0 0 4px 0;
                                text-transform: uppercase;
                            }
                            p {
                                font-size: 14px;
                                font-style: normal;
                                font-weight: 400;
                                line-height: 177.023%;
                                color: $grey5;
                                margin: 0;
                                text-align: left;
                                span {
                                    color: $text_color;
                                }
                            }
                            .horizontal-line {
                                display: block;
                                height: 1px;
                                width: calc(100% - 64px);
                                background-color: $grey5;
                                margin: 6px 0 9px 0;
                            }
                            &__two {
                                display: flex;
                                flex-direction: row;
                                justify-content: space-between;
                                align-items: center;
                                width: 100%;
                                p {
                                    &:first-of-type {
                                        font-size: 14px;
                                        line-height: 177.023%;
                                        font-style: normal;
                                        font-weight: 400;
                                        margin: 0;
                                        margin-right: 24px;
                                        text-align: left;
                                    }
                                    &:last-of-type {
                                        font-size: 14px;
                                        line-height: 177.023%;
                                        font-style: normal;
                                        font-weight: 400;
                                        margin: 0;
                                        margin-right: 64px;
                                        text-align: right;
                                        &.summary-price {
                                            font-size: 18px;
                                            line-height: 18px;
                                            color: $macma_orange;
                                        }
                                        &.price {
                                            font-size: 18px;
                                            line-height: 18px;
                                            color: $text_color;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
                .cart-delivery-checkboxes-box {
                    display: flex;
                    flex-direction: row;
                    background-color: $light_grey;
                    &__col {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: center;
                        border-right: 12px solid $light_grey;
                        background-color: $white;
                        padding: 0 27px;
                        height: 70px;
                        label {
                            margin: 0;
                            font-size: 16px;
                            font-weight: 600;
                            line-height: 120%;
                            text-align: left;
                            padding-left: 40px;
                        }
                        .custom-checkbox-checkmark {
                            top: -4px;
                        }
                        .delivery-cost {
                            display: inline-flex;
                            margin: 0;
                            font-size: 16px;
                            font-weight: 600;
                            line-height: 120%;
                            color: $text_color;
                            text-transform: uppercase;
                            text-align: left;
                            white-space: pre;
                            span {
                                display: inline-flex;
                                font-size: 18px;
                                font-weight: 400;
                                color: $macma_orange;
                                margin: 0 0 0 6px;
                                text-align: left;
                                white-space: pre;
                            }
                        }
                        &.courier {
                            .custom-checkbox-checkmark {
                                top: 6px;
                            }
                        }
                    }
                }
                .delivery-price-info-box {
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                    border-left: 17px solid $light_grey;
                    background-color: $white;
                    &__info {
                        img {
                            object-fit: contain;
                            margin: 16px;
                        }
                    }
                    &__text {
                        padding: 20px 0;
                        margin: 8px;
                        .text {
                            font-size: 16px;
                            font-style: normal;
                            font-weight: 600;
                            line-height: 120%;
                            text-transform: uppercase;
                            color: $text_color;
                            margin: 0;
                            text-align: center;
                        }
                        .price {
                            font-size: 18px;
                            font-style: normal;
                            font-weight: 400;
                            line-height: 177.023%;
                            color: $red;
                            margin: 8px 0 0 0;
                            text-align: center;
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 1640px) {
    .cart_container.step_three {
        .cart-table_box {
            .bottom-cart-box-with-btn {
                border-right: 0;
                .right-btn {
                    .next {
                        position: relative;
                        right: 0;
                        bottom: 0;
                        left: unset;
                    }
                }
            }
        }
    }
    .cart-products-table {
        tr {
            td {
                .cart-delivery-product-box {
                    &__bottom {
                        .cart-delivery__col {
                            &__two {
                                p {
                                    &:last-of-type {
                                        margin-right: 8px;
                                    }
                                }
                            }
                        }
                    }
                }
                &.send-info-td {
                    min-width: 230px !important;
                    width: 230px !important;
                }
            }
        }
    }
}

@media (max-width: 1260px) {
    .cart_container.step_three {
        .cart-table_box {
            .bottom-cart-box-with-btn {
                width: 100%;
                .prev,
                .next {
                    margin-bottom: 50px;
                }
            }
        }
        .cart-products-table {
            margin-bottom: 100px;
            tr {
                td {
                    padding: 0 !important;
                    &:first-of-type {
                        width: 40px !important;
                        min-width: 40px !important;
                    }
                    &.send-info-td {
                        width: 290px;
                        .cart-delivery-time-box {
                            margin-top: -140px;
                            &--title {
                                height: 40px;
                                p {
                                    font-size: 14px;
                                }
                            }
                            &--info {
                                padding: 16px 0;
                                p {
                                    font-size: 15px;
                                }
                            }
                        }
                    }
                    .cart-delivery-product-box {
                        &__top {
                            padding: 16px;
                            &__left {
                                .title {
                                    font-size: 16px;
                                }
                                .code {
                                    font-size: 11px;
                                }
                            }
                        }
                        &__bottom {
                            .cart-delivery__col {
                                width: 100%;
                                margin: 12px 16px;
                                h3 {
                                    font-size: 15px;
                                }
                                .horizontal-line {
                                    width: calc(100% - 16px);
                                }
                                &__two {
                                    p {
                                        &:first-of-type {
                                            font-size: 13px;
                                            white-space: pre !important;
                                        }
                                        &:last-of-type {
                                            font-size: 14px !important;
                                            white-space: pre !important;
                                            margin-right: 16px !important;
                                        }
                                    }
                                }
                            }
                        }
                    }
                    .cart-delivery-checkboxes-box {
                        &__col {
                            padding: 0 16px;
                            height: 72px;
                            align-items: center;
                            label {
                                height: auto;
                                font-size: 14px;
                            }
                            .custom-checkbox-checkmark {
                                top: -4px;
                            }
                            .delivery-cost {
                                font-size: 14px;
                                text-align: center;
                                span {
                                    font-size: 18px;
                                }
                            }
                            &.courier {
                                .custom-checkbox-checkmark {
                                    top: 6px;
                                }
                            }
                        }
                    }
                    .delivery-price-info-box {
                        &__text {
                            padding: 16px 0;
                            .text {
                                font-size: 14px;
                            }
                            .price {
                                font-size: 18px;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 760px) {
    .cart_container.step_three {
        .cart-table_box {
            .bottom-cart-box-with-btn {
                width: 100vw;
            }
        }
    }
}