.cart_container.step_five {
    .cart-table_box {
        width: 100%;
        .bottom-cart-box-with-btn {
            margin-right: 0;
            margin-bottom: 15px;
        }
    }
}

@media (max-width: 1260px) {

}

@media (max-width: 860px) {

}