.news_article_hero {
    img {
        margin-left: -200px;
        margin-top: -16px;
    }
}

@media (max-width: 991px) {
    .news_article_hero {
        img {
            margin-top: 0;
        }
    }
}