.category-top-pagination {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 65px;
    width: 100%;
    &__slot {
        display: flex;
        flex-direction: row;
        align-items: center;
        p {
            font-size: 16px;
            font-style: normal;
            font-weight: 500;
            line-height: 140%;
            color: $text_color;
            margin: 0;
        }
        .pagination {
            padding: 0;
            .dots {
                margin-bottom: 15px;
            }
        }
        .page-number {
            input {
                width: 85px;
                height: 35px;
                background-color: $white;
                border: 1px solid $grey;
                margin: 0;
                font-size: 12px;
                padding: 0 10px;
                text-align: center;
            }
        }
    }
}

@media (max-width: 860px) {
    .category-top-pagination {
        flex-wrap: wrap;
        flex-direction: column;
        height: auto;
        margin: 16px 0;
        &__slot {
            flex-wrap: wrap;
            flex-direction: column;
            .page-number {
                margin-top: 16px;
            }
        }
    }
}