main.grey-background {
    background-color: $light_grey;
}

.category-wrapper {
    background-color: $light_grey;
    .container {
        display: flex;
        flex-direction: row;
        .category-wrapper__left {
            display: flex;
            flex-direction: column;
        }
        .category-wrapper__right {
            display: flex;
            flex-direction: column;
            width: 100%;
        }
    }
}