main.grey-background {
  background-color: $light_grey;
}

.category-wrapper {
  background-color: $light_grey;
  .container {
    display: flex;
    flex-direction: row;
    .category-wrapper__left {
      display: flex;
      flex-direction: column;
    }
    .category-wrapper__right {
      display: flex;
      flex-direction: column;
      width: 100%;
    }
  }
}

@media (max-width: 1060px) {
  .category-wrapper {
    .container {
      flex-direction: column;
      .category-wrapper__left {
        flex-direction: row;
        .category-menu,
        .category-left-filters-box,
        .category-left-filters {
          width: 100%;
          height: 100%;
        }
      }
    }
  }
}

@media (max-width: 992px) {
  .category-wrapper {
    .container {
      flex-direction: column;
      .category-wrapper__left {
        flex-direction: column;
        .category-menu,
        .category-left-filters-box,
        .category-left-filters {
          width: 100%;
          height: 100%;
        }
        .category-menu {
          display: none;
        }
      }
    }
  }
}
