.category-wrapper {
    background-color: $light_grey;
    .container {
        display: flex;
        flex-direction: row;
        &__left {
            display: flex;
            flex-direction: column;
        }
        &__right {
            display: flex;
            flex-direction: column;
        }
    }
}