#our_brands {
    .mp-titles {
        padding-top: 0 !important;
    }
    .swiper-slide {
        a {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 111px;
            img {
                height: 111px;
                width: auto;
                object-fit: contain;
            }
        }
    }
}

.our_brands_swiper {
    overflow: hidden;
    margin-bottom: 70px;
    .swiper-slide {
        position: relative;
        .article_swiper_box__text {
            background-color: $blog_grey_opacity;
            &--date,
            &--title,
            &--see-more {
                p,
                a {
                    color: $white;
                }
            }
        }
    }
}