.common-steps-container {
    width: 100vw;
    height: 60px;
    border-bottom: 1px solid $grey6;
    background-color: $light_grey;
    .container {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        .common-steps-container-slot {
            display: inline-flex;
            align-items: center;
            height: 60px;
            p {
                font-size: 18px;
                font-style: normal;
                font-weight: 600;
                line-height: 120%;
                text-transform: uppercase;
                color: $grey5;
                margin: 0;
                &.active {
                    color: $text_color;
                }
            }
        }
    }
}

@media (max-width: 991px) {
    .common-steps-container {
        height: auto;
        padding: 10px 0;
        .container {
            flex-direction: column;
            justify-content: center;
            .common-steps-container-slot {
                height: 32px;
                p {
                    font-size: 15px;
                }
            }
        }
    }
}