nav {
    #nav-searchbar {
        position: relative;
        input {
            all: unset;
            width: 568px;
            height: 60px;
            background-color: $light_grey;
            padding: 0 38px;
            &::placeholder {
                font-size: 16px;
                font-weight: 300;
                line-height: 90%;
                color: $grey2;
            }
        }
        button {
            all: unset;
            position: absolute;
            top: calc(50% - 12.5px);
            right: 30px;
            font-size: 0;
            content: '';
            display: block;
            background: url('./../assets/icons/common/header/magnifier.svg');
            width: 25px;
            height: 25px;
            background-size: contain;
            background-repeat: no-repeat;
            cursor: pointer;
        }
    }
    .nav-account-cart {
        a {
            span {
                font-size: 18px;
                font-weight: 400;
                line-height: 103%;
                color: $text_color;
                width: 62px;
            }
            &:hover {
                span {
                    color: $macma_orange;
                }
            }
        }
    }
    .dropend,
    .dropdown {
        position: static;
    }
    .dropdown-item:focus, 
    .dropdown-item:hover {
        background-color: $menu_hover_color;
        font-weight: 700;
    }
    .dropdown-toggle::after {
        border-top: 0.3em solid $menu_arrows_color;
        border-right: 0.3em solid $transparent;
        border-bottom: 0;
        border-left: 0.3em solid $transparent;
        &:hover {
            color: $macma_orange;
        }
    }
    .navbar-bottom {
        .main-nav-item > a {
            font-size: 20px;
            font-style: normal;
            font-weight: 400;
            line-height: 177.023%;
            text-transform: uppercase;
            color: $text_color;
            &:hover {
                color: $macma_orange;
                &::after {
                    border-top: 0.3em solid $macma_orange !important;
                }
            }
            &.show {
                &::after {
                    transform: rotate(180deg);
                } 
            }
        }
    }
}

@media (max-width: 1576px) {
    nav {
        #nav-searchbar {
            input {
                width: 300px;
            }
        }
    } 
}

@media (min-width: 992px) {
    nav {
        height: 160px;
        .navbar-brand-mobile {
            display: none;
        }
        .navbar-first-row {
            height: 100px;
        }
        .navbar-top {
            position: absolute;
            top: 0;
            left: 0;
            display: flex;
            height: 100px;
        }
        .navbar-bottom {
            position: absolute;
            top: 100px;
            left: 0;
            display: flex;
            height: 60px;
        }
    }
}

@media (max-width: 991px) {
    nav {
        height: auto;
        #nav-searchbar {
            margin: 16px 0 0 0;
            width: 100%;
            input {
                width: 100%;
                height: 48px;
                padding: 0 16px;
            }
        }
        .navbar-brand-desktop {
            display: none;
        }
        .nav-account-cart {
            padding: 16px;
        }
        .navbar-bottom {
            align-items: flex-start !important;
            .main-nav-item {
                width: 100%;
                .dropdown-menu {
                    border: 0;
                    border-radius: 0;
                    &.show {
                        background-color: $light_grey;
                        .dropdown-menu {
                            &.show {
                                background-color: $white;
                            }
                        }
                    }
                }
            }
        }
    }
}