nav {
    .nav-account-cart {
        a {
            span {
                font-size: 18px;
                font-weight: 400;
                line-height: 103%;
                color: $text_color;
                width: 62px;
            }
            &:hover {
                span {
                    color: $macma_orange;
                }
            }
        }
    }
    .dropend,
    .dropdown {
        position: static;
    }
}

@media (min-width: 992px) {
    nav {
        height: 160px;
        .navbar-brand-mobile {
            display: none;
        }
        .navbar-first-row {
            height: 100px;
        }
        .navbar-top {
            position: absolute;
            top: 0;
            left: 0;
            display: flex;
            height: 100px;
        }
        .navbar-bottom {
            position: absolute;
            top: 100px;
            left: 0;
            display: flex;
            height: 60px;
        }
    }
}

@media (max-width: 991px) {
    nav {
        height: auto;
        .navbar-brand-desktop {
            display: none;
        }
        .nav-account-cart {
            padding: 16px;
        }
        .navbar-bottom {
            align-items: flex-start !important;
        }
    }
}