.color {
    position: relative;
    display: inline-flex;
    width: 32px;
    height: 32px;
    background: #D9D9D9;
    margin-right: 6px;
    border: 2px solid $white;
    &.red {
        background-color: #FD0000;
    }
    &.yellow {
        background-color: #FFC700;
    }
    &.lightblue {
        background-color: #00A3FF;
    }
    &.blue {
        background-color: #30F;
    }
    &.pink {
        background-color: #F09;
    }
    &.purple {
        background-color: #BD00FF;
    }
    &.green {
        background-color: #5CDA47;
    }
    &.black {
        background-color: $black;
    }
    &.white {
        background-color: $white;
        border: 1px solid $grey5;
    }
    &.orange {
        background-color: #FF8A00;
    }
    &.grey {
        background-color: #D9D9D9;
    }
}

@media (max-width: 1199px) {
    .color {
        min-width: 24px;
        width: 24px;
        height: 24px;
        margin-right: 4px;
    }
}