#topbar {
    background-color: $macma_orange;
    height: 50px;
    .container {
        height: 50px;
        div {
            a {
                font-size: 18px;
                font-style: normal;
                font-weight: 400;
                line-height: 90%; 
                color: $white;
                text-decoration: none;
                &:hover {
                    filter: brightness(0.9);
                }
                &.active {
                    color: $text_color;
                    text-shadow: 0.3px 0px 0.1px, -0.3px 0px 0.1px;
                }
            }
            span {
                font-size: 12px;
                font-style: normal;
                font-weight: 400;
                line-height: 90%;
                color: $text_color;
                width: 26px;
                height: 26px;
            }
        }
    }
}

@media (max-width: 991px) {
    .topbar-links {
        display: none !important;
    }
}