.contact-container {
    h1 {
        font-size: 72px;
        font-style: normal;
        font-weight: 900;
        line-height: 120%;
        text-transform: uppercase;
        color: $text_color;
        margin: 0;
    }
    h4 {
        font-size: 18px;
        font-style: normal;
        font-weight: 600;
        line-height: 120%;
        text-transform: uppercase;
        color: $grey5;
        margin: 6px 0 16px 0;
    }
    .contact-wrapper {
        position: relative;
        padding: 44px 0;
        background-color: $light_grey;
        display: flex;
        flex-direction: row;
        &::before {
            position: absolute;
            display: block;
            content: "";
            background-color: $light_grey;
            left: -50vw;
            top: 0;
            width: 200vw;
            height: 100%;
            z-index: -1;
        }
        &_col {
            display: flex;
            flex-direction: column;
            width: calc(33.3% - 23px);
            margin-right: 23px;
            background-color: $white;
            &:nth-of-type(3) {
                width: 33.3%;
                margin-right: 0;
            }
            .title {
                display: flex;
                justify-content: flex-start;
                align-items: center;
                height: 70px;
                border-bottom: 1px solid $light_grey;
                p {
                    font-size: 18px;
                    font-style: normal;
                    font-weight: 600;
                    text-transform: uppercase;
                    color: $text_color;
                    padding-left: 46px;
                    margin: 0;
                }
            }
            &__content {
                padding: 18px 46px;
            }
        }
    }
}