.product_card_gallery_info {
    .product-gallery {
        display: flex;
        width: 50%;

        /* top gallery */
        .gallery {
            display: flex;
            justify-content: center;
            align-items: center;
            .swiper-slide {
                height: auto;
            }
        }

        .gallery img {
            width: 100%;
            height: auto;
            user-select: none;
            width: max-content;
            max-height: 474px;
        }

        /* thumbs */
        .gallery-thumbs .swiper-slide {
            width: auto;
            opacity: 0.8;
            margin-top: 20px;
            user-select: none;
            &-active {
                opacity: 1;
                border: 1px solid $light_grey;
            }
        }
        .gallery-thumbs img {
            cursor: pointer;
            object-fit: contain;
            width: max-content;
            height: 170px;
            padding: 20px;
        }

        /* buttons */
        .swiper-button-next {
            position: absolute;
            width: 45px;
            height: 45px;
            background-image: url("./../assets/icons/main_page/hero_swiper/arrow-right.svg");
            background-size: contain;
            display: block;
            background-repeat: no-repeat;
            background-position: center center;
            bottom: calc(50% - 22px);
            right: 0;
            z-index: 1;

            &::after {
                display: none;
            }
        }

        .swiper-button-prev {
            position: absolute;
            width: 45px;
            height: 45px;
            background-image: url("./../assets/icons/main_page/hero_swiper/arrow-left.svg");
            background-size: contain;
            display: block;
            background-repeat: no-repeat;
            background-position: center center;
            bottom: calc(50% - 22px);
            left: 0;
            z-index: 1;

            &::after {
                display: none;
            }
        }
    }
}

@media (max-width: 991px) {
    .product_card_gallery_info {

        .product-gallery {
            width: 100%;
            
            .gallery img {
                max-height: unset;
                height: 100%;
            }
            .swiper-slide {
                height: 180px !important;
            }
            .gallery-thumbs {
                img {
                    height: 100px;
                }
                .swiper-slide {
                    height: 100px !important;
                }
            }
        }
    }
}