.dashboard-container {
    position: relative;
    padding: 35px 0 112px 0;
    background-color: $light_grey;
    display: flex;
    flex-direction: row;
    width: 100%;
    &::before {
        position: absolute;
        display: block;
        content: "";
        background-color: $light_grey;
        left: -50vw;
        top: 0;
        width: 200vw;
        height: 100%;
        z-index: -1;
    }
    &__left {
        display: flex;
        flex-direction: column;
        width: calc(20% - 24px);
        margin-right: 24px;
        min-width: 260px;
    }
    &__right {
        display: flex;
        flex-direction: column;
        width: 80%;
    }
}

@media (max-width: 1260px) {
    .dashboard-container {
        flex-wrap: wrap;
        &__left {
            display: flex;
            flex-direction: column;
            width: 100%;
            margin-right: 0;
        }
        &__right {
            display: flex;
            flex-direction: column;
            width: 100%;
        }
    }
}

@media (max-width: 860px) {
    .dashboard-container {
        padding: 0;
    }
}