.dashboard-main-title {
    background-color: $white;
    margin-bottom: 24px;
    .header {
        height: 107px;
        p {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            height: 100%;
            font-size: 32px;
            font-style: normal;
            font-weight: 900;
            line-height: 120%;
            text-transform: uppercase;
            padding-left: 42px;
            color: $text_color;
            margin: 0;
        }
    }
}

@media (max-width: 860px) {
    .dashboard-main-title {
        .header {
            height: 48px;
            p {
                font-size: 24px;
                padding-left: 24px;
            }
        }
    }    
}